<app-time-weather 
    [temp]="currentWheater?.temp"
    tempMax="12"
    tempMin="7"
    [geolocation]="location"
    [weather]="wheaterDetail?.main"
    [time]="currentWheater?.dt"
    ></app-time-weather>
<app-weather-during-day
    ></app-weather-during-day>
<app-weather-during-weekly
    ></app-weather-during-weekly>
<app-uv-ratio
    ></app-uv-ratio>
<app-sunset
    ></app-sunset>
<app-humidity
    ></app-humidity>
<app-visibility
    ></app-visibility>
<app-pressure
    ></app-pressure>

<app-autocomplete (setAddress)="getAddress($event)" adressType="geocode"></app-autocomplete>