<div class="container">
    <div class="title">Weekly Forecast</div>
    <div class="scroll">
        <app-day-weather class="hour-weather"></app-day-weather>
        <app-day-weather class="hour-weather"></app-day-weather>
        <app-day-weather class="hour-weather"></app-day-weather>
        <app-day-weather class="hour-weather"></app-day-weather>
        <app-day-weather class="hour-weather"></app-day-weather>
        <app-day-weather class="hour-weather"></app-day-weather>
    </div>
</div>