<div class="container">
    <div>
        <div>
            <img src="http://openweathermap.org/img/wn/01d@2x.png" >
        </div>
        <div class="weather-info">
            <span>City: {{geolocation}}</span>
            <span>{{weather}}</span>
        </div>
        <div class="temp">
            <span>{{temp | number: '1.0-0'}}°</span>
            <div>
                <span>Min: {{tempMin}}°</span>
                <span>Max: {{tempMax}}°</span>
            </div>
        </div>
    </div>
    <div class="time">
        {{time | date:'h:mm a'}}
    </div>
</div>